// ----- Footer
footer {
  margin-bottom: 30px;
  padding: 4% 2%;
  text-align: center;
}

footer .email span {
  display: none;
}

.justfun {
  color: $c-primary;
  font-size: 0.5555em;
  text-shadow: 1px 1px 0 $c-blue-light1;
}

.justfun span {
  font-family: FontAwesome;
}
