
// Colors
$c-white        : #ffffff;
$c-gray-light   : #ccc;
$c-gray-dark    : #3e3e3e;
$c-black        : #000;

$c-blue1        : #217fa7;

$c-blue-light1  : #d0f0ff;
$c-blue-light2  : #aed4e1;
$c-blue-light3  : #b4e9ff;
$c-blue-light4  : #77ccee;

$c-blue-dark1   : #1c80a9;
$c-blue-dark2   : #136a8f;
$c-blue-dark3   : #0f648a;
$c-blue-dark4   : #0d5e81;

$c-orange1      : #eb9000;
$c-orange2      : #d78400;

$c-yellow       : #ff0;


// Pallette
$c-background   : $c-blue-light3;
$c-body         : $c-gray-dark;
$c-primary      : $c-blue-dark1;
$c-secondary    : $c-blue-dark2;
$c-accent       : $c-orange1;
