
          <h2>Get In Touch</h2>
          <a href="#" class="email"><span>&#xf0e0;</span> jade -at- jfaist.com</a>
          <a href="http://www.linkedin.com/in/faist/" target="_blank"><span>&#xf0e1;</span> linkedIn</a>
          <a href="{{ resume-link }}"><span>&#xf15b;</span> download my resume</a>
