
  <!--[if lte IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. I recommend <a href="http://browsehappy.com/">upgrading your browser</a> to improve your experience.</p>
  <![endif]-->
    <header id="top">
      <nav class="clear"><a href="#top">Who</a><a href="#what">What</a><a href="#where">Where</a><a href="#how">How</a></nav>
    {{#projectname}}
      <h1>{{ projectname }}</h1>
    {{/projectname}}
    </header>
