    <header id="top">
      <nav class="clear"><a href="#top">Who</a><a href="#what">What</a><a href="#where">Where</a><a href="#how">How</a></nav>
    {{#projectname}}
      <h1>{{ projectname }}</h1>
    {{/projectname}}
    </header>
