
        <section class="entry important">
          <h3>Copious</h3>
          <span class="title">Senior UX Engineer</span>
          <span class="date">February 2014 - February 2017</span>
          <p>Copious' work simplifies the complex, enriches the transactions a user has with their clients’ brands, and includes custom web applications, ecommerce experiences, and mobile apps. They focus on architecting, designing and building human-centered digital and ecommerce experiences.</p>
          <p><strong>Responsibilities:</strong> Front-end development, project estimating and planning, team management, technical leadership, code reviewing</p>
          <a href="//copio.us" target="_blank">copio.us</a>
        </section><!-- .important -->
        <section class="entry">
          <h3>Kinesis</h3>
          <span class="title">Senior Interactive</span>
          <span class="date">January 2006 - January 2014</span>
          <p>Kinesis is a strategic marketing and design firm based in Portland, Oregon. They specialize in high-impact web design, graphic design, and marketing services for growth-oriented businesses.</p>
          <p><strong>Responsibilities:</strong> web programming, web design, UX, UI, process development, systems architecture</p>
          <a href="//www.kinesisinc.com" target="_blank">kinesisinc.com</a>
        </section><!-- .entry -->
        <section class="entry">
          <h3>Jugtown Vinyl</h3>
          <span class="title">Co-founder</span>
          <span class="date">September 2010 - January 2014</span>
          <p>Jugtown Vinyl is an online store that offers unique vinyl applique artwork directly to consumers.</p>
          <p><strong>Responsibilities:</strong> Online store creation and management, product management, business management</p>
          <a href="//www.jugtownvinyl.com" target="_blank">jugtownvinyl.com</a>
        </section><!-- .entry -->
        <section class="entry">
          <h3>Southern Oregon Bookstore</h3>
          <span class="title">Promotions Assistant</span>
          <span class="date">June 2005 - July 2006</span>
          <p>Southern Oregon University’s university owned and operated college bookstore.</p>
          <p><strong>Responsibilities:</strong> Design of in-store and out-of-store graphics and promotions</p>
        </section><!-- .entry -->
