// -----  Contact
#contact {

  a {
    display: block;
    font-size: 1.2222em;
    padding: 10px 0 10px 40px;
    text-decoration: none;
    text-indent: -30px;
    text-shadow: 1px 1px 1px $c-blue-light2;
  }

  span {
    font-family: FontAwesome;
    padding-right: 10px;
  }
}
