<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jade Faist</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/touch.png" rel="apple-touch-icon-precomposed">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,300italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    {{> templates/header }}

    {{> templates/content }}

    {{> templates/footer }}
  </body>
</html>
